
@{
    ViewBag.Title = "AdminProfile";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>AdminProfile</h2>
<form>
    @foreach (var item in ViewBag.detail)
    {
        <div>
            <label>Username : </label>
            <a>@item.Username</a>
        </div>
        <div>
            <label>Password : </label>
            <a>@item.Password</a>
        </div>
        <div>
            <label>DisplayName : </label>
            <a>@item.DisplayName</a>
        </div>
    }
</form>
