
@{
    ViewBag.Title = "DoiMatKhau";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>Sua</h2>
<form action="@Url.Action("ResultDoiMatKhau","Home")" method="post">
    <input type="hidden" name="id" id="id" value="@ViewBag.ac.AccountID" />
    <div class="form-group">
        <label>Đổi Mật Khẩu : </label>
        <div class="col-sm-6">
            <input type="text" name="password" id="password" placeholder="Nhập vào password mới" required/>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-outline-success" value="Sửa" />
    </div>

</form>

