
@{
    ViewBag.Title = "Xoa";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Message</h2>
<form action="@Url.Action("Index","Home")">
    <input type="submit" class="btn btn-outline-success" value="Back to List"/>
</form>

